body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 4, 78);
}

label{
    font-size:large;
    font-weight: bold;
    color: orange;
}

input{
    background-color: white;
    padding: 0.8em;
    border-radius: 0.4em;
    border: none;
    box-shadow: 0px 1.5px 2px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.Form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    height: 500px;
}

.container{
    width: 30%;
    height: 60%;
    padding: 2em;
    margin-top: 2em;
    border-radius: 1.5em;
    background-color: rgb(31, 31, 121);
    box-shadow: 0px 0px 10px yellow;
}

.container h1{
    text-align: center;
    margin-bottom: 1em;
    border-radius: 0.5em;
    background-color: orange;
}

.Project-name{
    display: flex;
    flex-direction: column;
}

hr {
border: 1px solid black;
}

@media only screen and (max-width: 1075px){
    .container{
        width: 80%;
    }
    .container button{
        width: 30%;
        margin-left: 70%;
    }
    .container-card {
        width: 90vw;
        margin: 1em;
        padding: 1em;
        border-radius: 0.5em;
        background-color: rgb(31, 31, 121);
        box-sizing: border-box;
        box-shadow: 0px 0px 10px yellow;
        transition-duration: 0.5s;
    }
    #content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}