<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Project</title>
    <link rel="stylesheet" href="/Assets/fontawesome/css/all.css">
    <link rel="icon" type="Images/x-icon" href="/Assets/Image/Escola.png">
    <link rel="stylesheet" href="/Assets/css/all.css">
    <link rel="stylesheet" href="/Assets/css/nav.css">
    <link rel="stylesheet" href="/Assets/css/myproject.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    </style>

</head>
<body>

<!-- Navigation bar start -->
    <nav>
        <ul>
            <li><a href="/"><img src="/Assets/Image/Escola.png" alt=""></a></li>
            <li><a class="collapse-item" href="/">Home</a></li>
            <li><a class="collapse-item active" href="/my-project">My Project</a></li>
        </ul>
        <div class="nav-right collapse-item">
            <a href="/contact">Contact Me</a>
        </div>
        <div class="nav-right" id="hamburger-btn">
            <button onclick="openHamburger()">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </button>
        </div>
    </nav>
    <hr>
    <div>
        <div class="hamburger-container" id="hamburger-container">
            <a href="/">Home</a>
            <hr>
            <a href="/my-project">My Project</a>
            <hr>
            <a href="/contact">Contact Me</a>
        </div>
    </div>
<!-- Navigation bar end-->

    <form class="Form-container" id="Form-Project" method="post" action="/my-project" onsubmit="addBlog(event)">
        
        <!-- Title --> 
        <div class="container">
            <h1>ADD MY PROJECT</h1>
            <div class="Project-name">
                <label>Project Name</label>
                <input name="ProjectName" type="text" placeholder="Enter your project name..." required>
            </div>
            
            <!-- Date --> 
            <div class="Date-container">
                <div>
                    <label>Start Date</label>
                    <input type="date" name="StartDate" required>
                </div>
                <div>
                    <label>End Date</label>
                    <input name="EndDate" type="date" required>
                </div>
            </div>
            
            <!-- Description --> 
            <div class="Descripton-container">
                <label>Descripton</label>
                <textarea name="Descripton" placeholder="Enter your description..." required></textarea>
            </div>
            

            <!-- Checkbox --> 
            <div class="checkbox">
                <label>Technologies</label>
                <div class="checkbox-group">
                    <div>
                        <input type="checkbox" name="Nodejs" class="multi-input" />
                        <label>Node JS</label>
                    </div>
                    <div>
                        <input type="checkbox" name="Golang" class="multi-input" />
                        <label>Golang</label>
                    </div>
                    <div>
                        <input type="checkbox" name="Reactjs" class="multi-input" />
                        <label>React JS</label>
                    </div>
                    <div>
                        <input type="checkbox" name="Javascript" class="multi-input"/>
                        <label>Javascript</label>
                    </div>
                </div>
            </div>
            
            <!-- Upload Image --> 
            <div class="Upload-Image">
                <label>Upload Image</label>
                <div class="label-image">
                    <label for="input-image">
                        <p>Choose</p>
                        <span id="file-name"></span>
                        <i class="fa-solid fa-paperclip fa-fw"></i>
                        <input type="file" name= "InputImage" id="input-image" hidden />
                    </label>
                </div>
            </div>
            <button>Submit</button>
        </div>
    </form>


    <div class="card-result">
        <hr>
        <footer>
            © Escola | All Right Reserved.
        </footer>
        <hr>
        <h1>MY PROJECT</h1>

        <div id="content">
            <div class="container-card">
                <a href="/project-detail"><img src="/Assets/Image/Orang.jpg"/></a>
            <h3>Dumbways Mobile App - 2023</h3>
            <span>Durasi : 3 bulan</span>
            <div class="Post">
                <p>Post : 10 july 2023 | 07:23</p>
                <span>59 Second ago..</span>
            </div>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere cupiditate similique nesciunt id quibusdam in totam deleniti, asperiores, animi delectus nobis nisi? Sapiente fugiat, fugit illo harum minima deleniti.
            </p>
            <div class="programming-language">
                <i class="fa-brands fa-js" id="javascript"></i>
                <i class="fa-brands fa-golang" id="golang"></i>
                <i class="fa-brands fa-react" id="reactsJS"></i>
                <i class="fa-brands fa-java" id="java"></i>
            </div>
            <div class="btn-group">
                <button>Edit</button>
                <button>Delete</button>
            </div>
            </div>
        </div>
    </div>
    <script src="js/blog.js"></script>
    <script src="js/hamburger.js"></script>
</body>
</html>