<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Project</title>
    <link rel="stylesheet" href="/Assets/fontawesome/css/all.css">
    <link rel="icon" type="Images/x-icon" href="/Assets/Image/LogoYoutube.png">
    <link rel="stylesheet" href="/Assets/css/all.css">
    <link rel="stylesheet" href="/Assets/css/nav.css">
    <link rel="stylesheet" href="/Assets/css/MyProject.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    #humburger-container{
        display: none;
    }
    </style>

</head>
<body>

<!-- Navigation bar start -->
    <nav>
        <ul>
            <li><a href="/index"><img src="/Assets/Image/LogoYoutube.png" alt=""></a></li>
            <li class="collapse-item"><a href="/">Home</a></li>
            <li class="collapse-item"><a href="/add-Project" class="active">Add Project</a></li>
            <li class="collapse-item"><a href="/testimoni">Testimoni</a></li>
        </ul>
        <div class="nav-right collapse-item">
            <form method="POST" action="/logout">
                <button>Logout</button>
            </form>
        </div>
        <div class="nav-right" id="hamburger-btn">
            <button onclick="openHamburger()">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </button>
        </div>
    </nav>
    <div class="hamburger-container" id="hamburger-container">
        <a href="/">Home</a>
        <a href="/add-Project" class="nav-active">Add Project</a>
        <a href="/testimoni">Testimoni</a>
        <a href="/contact">Contact Me</a>
    </div>
<!-- Navigation bar end-->

    <div class="card-result">
        <h1>MY PROJECT</h1>
        <div class ="GoToMyProject">
            <a href="/form-project">Add Project</a>
        </div>
        <div id="content">
            {{ range $value := .Projects}}
            <div class="container-card">
                <a href="/project-detail/{{$value.Id}}"><img src="/Assets/Image/Orang.jpg"/></a>
            <h3>{{$value.Project_Name}}</h3>
            <span>Durasi : {{$value.Duration}}</span>
            <div class="Post">
                <p>Post : {{$value.Post_Date}} | {{$value.Time_Post}}</p>
            </div>
            <hr>
            <p>
                {{$value.Description}}
            </p>
            <div class="programming-language">
                {{if $value.Node_js}}
                <i class="fa-brands fa-node-js"></i>
                {{end}}
                {{if $value.Golang}}
                <i class="fa-brands fa-golang"></i>
                {{end}}
                {{if $value.React_Js}}
                <i class="fa-brands fa-react"></i>
                {{end}}
                {{ if $value.Java_Script}}
                <i class="fa-brands fa-js"></i>
                {{end}}
            </div>
            <div class="btn-group">
                <form action="/edit-project/{{$value.Id}}" method="GET">
                    <button>Edit</button>
                </form>
                <form action="/delete-project/{{$value.Id}}" method="POST">
                    <button>Delete</button>
                </form>
            </div>
            </div>
            {{end}}
        </div>
    </div>

    <script src="/Assets/js/hamburger.js"></script>
</body>
</html>