<!DOCTYPE html>
<html lang="en">
<head>
    <title>Task 2</title>
    <link rel="icon" type="Images/x-icon" href="/Assets/Image/LogoYoutube.png">
    <link rel="stylesheet" href="/Assets/css/all.css">
    <link rel="stylesheet" href="/Assets/css/nav.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/fontawesome/css/all.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    </style>
</head>
<body>
    <nav>
        <ul>
            <li ><a href="index"><img src="/Assets/Image/LogoYoutube.png" alt=""></a></li>
            <li class="collapse-item"><a href="home">Home</a></li>
            <li class="collapse-item"><a href="myProject">My Project</a></li>
            <li class="collapse-item"><a href="testimoni">Testimoni</a></li>
        </ul>
        <div class="nav-right collapse-item">
            <a href="contact">Contact Me</a>
        </div>
        <div class="nav-right" id="hamburger-btn">
            <button onclick="openHamburger()">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </button>
        </div>
    </nav>
    <div class="hamburger-container" id="hamburger-container">
        
        <a href="home">Home</a>
        <a href="myProject">My Project</a>
        <a href="testimoni">Testimoni</a>
        <a href="contact">Contact Me</a>
    </div>
        <div class="card-home">
            <h1>Welcome to My Website</h1>
        </div>
        
        <script src="/Assets/js/hamburger.js"></script>
</body>
</html>