.btn-contact{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.5em;
}

.btn-contact-card{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.6em 2em;
}

.nav-item a{
    margin-left: 1.5em;
}
.nav-item a:hover{
    color: orange !important;
}

.active{
    font-weight: bold;
    color: orange !important;
}

footer{
    text-align: center;
    font-size: medium;
    padding: 0.2em;
}

.btn-contact:hover{
    background-color: orange !important;
    color: black !important;
}

.btn-contact-card:hover{
    background-color: orange !important;
    color: black !important;
}