.card-welcome{
    display: flex;
    background-color: white;
    height:500px;
    padding: 50px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px;
}

.card-text{
    display: flex;
    flex-direction: column;
    background-color: white;
    height:400px;
    padding: 50px;
    margin: auto;
}

.card-text p{
    text-align: justify;
    margin-top: 10px;
}

.card-text div{
    display: flex;
    margin-top: 20px;
    background-color: white;
    align-items: center;
}

.card-contact a{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
}

.card-sosmed a{
    color: black;
    margin-top: 30px;
    margin-right: 30px;
}

.card-text div p{
    margin-left: 20px;
    margin-top: -0.5px;
}

.card-text div img{
    width: 21px;
    margin-left: 10px;
}

.card-image{
    background-color: white;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px;
    transition-duration: 0.2s;
}

.card-image img{
    height: 400px; 
    width: 350px; 
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.card-image h2{
    text-align: center;
}

.card-image p{
    text-align: center;
    margin-top: -5px;
}

.card-contact a:hover{
    background-color: orange;
}

.card-sosmed a:hover{
    color: orange;
}

.card-image:hover{
    transform: scale(1.1);
}