.card-welcome{
    display: flex;
    flex-direction: column;
    background-color: white;
    height:100%;
    width: 60%;
    margin: auto;
    margin-top: 3em;
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
    margin-bottom: 2em;
}

.greeting-card{
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 121);
    height: 500px;
    margin: auto;
    width: 60%;
    margin-top: 3em;
    margin-bottom: 5.5em;
    border-radius: 0.8em;
    box-shadow: 0px 0px 10px;
}

.header-card{
    width: 100%;
    display: flex;
    background-color: orange;
    margin-top: 1em;
    border-top: 1px solid rgb(3, 3, 66);
    border-bottom: 1px solid rgb(3, 3, 66);
}

.header-card p{
    width: 100%;
    color: black;
    padding: 0.3em;
    font-weight: bold;
    margin-left: 0.2em;
}

.header-card i{
    margin-left: 1em;
    margin-top: 0.5em;
    padding: 0.3em;
}

.body-card{
    display: flex;
    height: 86%;
}

.text-card{
    width: 60%;
    padding: 2em;
}

.text-card hr{
    border: 1px solid orange;
}

.text-card h2{
    color: orange;
}

.text-card p{
    margin-top: 1em;
    text-align: justify;
    color: white;
}

.button-card{
    display: flex;
    margin-top: 1em;
    align-items: center;
}

.button-card a{
    background-color: orange;
    text-decoration: none;
    height: 1.5em;
    color: black;
    border-radius: 0.5em;
    font-size: small;
    padding: 0.5em 1em;
    font-weight: bold;
}

.button-card-download i{
    color: orange;
}

.button-card-download {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.button-card-download a{
    color: orange;
    background-color: rgb(31, 31, 121);
    font-size: small;
}

.card-sosmed{
    display: flex;
    margin-top: 1em;
    width: 100%;
    color: white;
    margin-right: 30px;
    align-items: center;
}

.card-sosmed a{
    color: black;
    margin-right: 30px;
}

.card-sosmed hr{
    color: blue;
    width: 100%;
    margin-right: 30px;
}

.card-text div p{
    margin-left: 20px;
    margin-top: -0.5px;
}

.card-text div img{
    width: 21px;
    margin-left: 10px;
}

.image-card{
    background-color: orange;
    height: 86%;
    border-radius: 15px;
    margin-top: 2em;
    box-shadow: 0px 0px 3px;
    transition-duration: 0.5s;
}

.image-card img{
    height: 290px; 
    width: 250px; 
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.image-card h2{
    text-align: center;
    background-color: black;
    color: orange;
}

.image-card p{
    text-align: center;
    margin-top: 0.3em;
}

.button-card a:hover{
    background-color: rgb(181, 118, 0);
}

.button-card-download a:hover{
    background-color: rgb(31, 31, 121);
    color: rgb(181, 118, 0);

}
.card-sosmed a:hover{
    color: orange;
}

.image-card:hover{
    transform: scale(1.1);
}