.form-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgb(31, 31, 121);
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.8em;
    box-shadow: 0px 0px 10px yellow;
}

.form-container div{
    display: flex;
    flex-direction: column;
}

.contact-container {
    display: flex;
    justify-content: center;
    height: 80%;
}
.form-container div h2{
    text-align: center;
    background-color: orange;
}

.form-container div label {
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    color: orange;
}

.custom-select select{
    height: 35px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: 6px solid transparent;
    box-shadow: 0px 1.5px 2px;
}

.form-container div textarea {
    height: 100px;
    resize: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1.5px 2px;
    padding: 10px;
}

input {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    padding-left: 1em;
    border: none;
    box-shadow: 0px 1.5px 2px;
}

.form-container button{
    margin-top: 30px;
    background-color: black;
    color: white;
    width: 100px;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    border: none;
    margin-left: 75% ;
}

.form-container button:hover{
    background-color: orange;
    color: black;
}