body{
    margin: 0;
    padding: 0;
    background-color: rgb(229, 229, 229);
}

label{
    font-size:large;
    font-weight: bold;
    color: orange;
}

input{
    background-color: white;
    padding: 0.8em;
    border-radius: 0.4em;
    border: none;
    box-shadow: 0px 1.5px 2px;
    margin-top: 0.5em;
}

.Form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container{
    width: 40%;
    height: 80%;
    padding: 2em;
    margin-top: 2em;
    border-radius: 1.5em;
    background-color: rgb(31, 31, 121);
    box-shadow: 0px 0px 10px yellow;
}
.container h1{
    text-align: center;
    margin-bottom: 1em;
    background-color: orange;
}

.Project-name{
    display: flex;
    flex-direction: column;
}

.Date-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.Date-container div{
    display: flex;
    width: 48%;
    flex-direction: column;
}

.Descripton-container{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.Descripton-container textarea{
    border-radius: 0.4em;
    resize: none;
    border: none;
    box-shadow: 0px 1.5px 2px;
    height: 200px;
    padding: 1em;
}

.checkbox{
    margin-top: 1em;

}

.checkbox-group {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.checkbox-group div{
    display: flex;
} 

.checkbox-group div label{
    margin-top: 3px;
    color: orange;
}

.checkbox-group div input{
    width: 20px;
    height: 20px;
    margin-right: 1em;
    box-shadow: none;
    cursor: pointer;
}

.Upload-Image{
    margin-top: 1em;
}

.label-image label {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.2em;
    border-radius: 5px;
    cursor: pointer;
}

.label-image label p {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(209, 209, 209);
    color: rgb(158, 158, 158);
}

.label-image label i {
    font-size: 20px;
    margin-right: 8px;
}

.btn-submit{
    margin-top: 1em;
    border: none;
    border-radius: 2em;
}

.container button{
    margin-top: 2em;
    background-color: orange;
    color: black;
    font-weight: bold;
    width: 20%;
    cursor: pointer;
    padding: 0.7em;
    border-radius: 2em;
    border: none;
    margin-left: 80%;

}

.container button:hover{
    background-color: rgb(120, 78, 0);
}

.card-result {
    margin-top: 3em;
}

.card-result h1{
    margin-top: 1em;
    text-align: center;
    color: white;
}

#content {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.container-card {
    width: 25vw;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: rgb(31, 31, 121);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px yellow;
    transition-duration: 0.5s;
}

.container-card h3{
    background-color: orange;
    text-align: center;
    border-radius: 0.2em;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
}

.container-card img {
    width: 100%;
    border-radius: 0.5em;
    height: 30vh;
    object-fit: cover;
}
.container-card span{
    color: orange;
}

.container-card p {
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    width: 100%;
    height: 100px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}

.Post p{
    width: 100%;
    font-size: small;
    color: white;
    height: auto;
}
.Post{
    display: flex;
    align-items: center;
}

.Post span{
    width: 50%;
    text-align: end;
    font-size: small;
}

.programming-language i {
    font-size: 1.7em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    color: orange;
}

.btn-group {
    display: flex;
}

.container-card .btn-group button {
    width: 100%;
    margin: 1em;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
    background-color: black;
    color: white;
}

.btn-group button:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
}

.container-card:hover{
    box-shadow: 0px 0px 10px orange;
}

hr {
border: 1px solid black;
}